In [34]:
import pandas as pd
import numpy as np

In [35]:
iris=pd.read_csv(r'E:\1biplav\data\Dataset\Iris.csv')

In [36]:
iris.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
74,75,6.4,2.9,4.3,1.3,Iris-versicolor
23,24,5.1,3.3,1.7,0.5,Iris-setosa
82,83,5.8,2.7,3.9,1.2,Iris-versicolor
19,20,5.1,3.8,1.5,0.3,Iris-setosa
47,48,4.6,3.2,1.4,0.2,Iris-setosa

In [37]:
iris['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [38]:
iris['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [39]:
from sklearn.preprocessing import LabelEncoder

In [43]:
lr=LabelEncoder()
iris['Species'] = lr.fit_transform(iris['Species'])

In [45]:
iris.head(2)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0

In [48]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(iris.drop('Species',axis=1),iris['Species'],test_size=0.2,random_state=1)

In [52]:
X_train.head(2)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
91    92            6.1           3.0            4.6           1.4
135  136            7.7           3.0            6.1           2.3

In [53]:
X_test.head(2)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
14  15            5.8           4.0            1.2           0.2
98  99            5.1           2.5            3.0           1.1

In [54]:
y_test.head(2)

14    0
98    1
Name: Species, dtype: int32

In [56]:
print('shape of X_train=',X_train.shape)
print('shape of X_test=',X_test.shape)
print('shape of y_train=',y_train.shape)
print('shape of y_test=',y_test.shape)

shape of X_train= (120, 5)
shape of X_test= (30, 5)
shape of y_train= (120,)
shape of y_test= (30,)

In [57]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [58]:
clf1=LogisticRegression()
clf2=DecisionTreeClassifier()

In [59]:
clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)

C:\Users\VPO17\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

DecisionTreeClassifier()

In [62]:
y_pred1 = clf1.predict(X_test)
y_pred2 = clf2.predict(X_test)

In [67]:
from sklearn.metrics import accuracy_score,confusion_matrix
print('Accuracy of Logistic regression=',accuracy_score(y_test,y_pred1))
print('Accuracy of Decision Tree=',accuracy_score(y_test,y_pred2))

Accuracy of Logistic regression= 1.0
Accuracy of Decision Tree= 0.9666666666666667

In [71]:
print("Logistic Regression Confusion Matrix\n")
pd.DataFrame(confusion_matrix(y_test,y_pred1),columns=list(range(0,3)))

Logistic Regression Confusion Matrix

    0   1  2
0  11   0  0
1   0  13  0
2   0   0  6

In [72]:
print("Decision Tree Confusion Matrix\n")
pd.DataFrame(confusion_matrix(y_test,y_pred2),columns=list(range(0,3)))

Decision Tree Confusion Matrix

    0   1  2
0  11   0  0
1   0  12  1
2   0   0  6

In [73]:
result = pd.DataFrame()
result['Actual Label'] = y_test
result['Logistic Regression Prediction'] = y_pred1
result['Decision Tree Prediction'] = y_pred2
result.sample(10)

     Actual Label  Logistic Regression Prediction  Decision Tree Prediction
131             2                               2                         2
120             2                               2                         2
90              1                               1                         1
98              1                               1                         1
29              0                               0                         0
78              1                               1                         1
14              0                               0                         0
19              0                               0                         0
35              0                               0                         0
16              0                               0                         0

In [74]:
from sklearn.metrics import precision_score,recall_score
precision_score(y_test,y_pred1,average=None)

array([1., 1., 1.])

In [75]:
recall_score(y_test,y_pred1,average=None)

array([1., 1., 1.])