In [2]:
import pandas as pd
from pandas_datareader import data
import numpy as np
from  sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import  r2_score
from sklearn.datasets import load_boston
from sklearn.model_selection import GridSearchCV

In [3]:
boston=load_boston()

In [5]:
df=pd.DataFrame(boston.data)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [14]:
"""df me columns index ka name ni hai to new data frame banaye hai"""
df.columns = boston.feature_names
df['MEDV'] = boston.target

In [15]:
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14,21.6

In [16]:
X=df.iloc[:,0:13]
y=df.iloc[:,13]

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=42)

In [18]:
print('Shape of X_train = ', X_train.shape)
print('Shape of y_train = ', y_train.shape)
print('Shape of X_test = ', X_test.shape)
print('Shape of y_test = ', y_test.shape)

Shape of X_train =  (404, 13)
Shape of y_train =  (404,)
Shape of X_test =  (102, 13)
Shape of y_test =  (102,)

In [25]:
rt=DecisionTreeRegressor(criterion='mse',max_depth=5)

In [26]:
rt.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=5)

In [28]:
y_pred=rt.predict(X_test)

In [29]:
r2_score(y_test,y_pred)

0.7224163455290411

In [41]:
rt=DecisionTreeRegressor(criterion='mse',max_depth=5)
rt.fit(X_train,y_train)
y_pred=rt.predict(X_test)
r2_score(y_test,y_pred)

0.885137272531848

# Hyperparameter Tuning

In [49]:
param_grid = {
    'max_depth':[2,4,8,10,None],
    'criterion':['mse','mae'],
    'max_features':[0.25,0.5,1.0],
    'min_samples_split':[0.25,0.5,1.0]
}

In [50]:
reg = GridSearchCV(DecisionTreeRegressor(),param_grid=param_grid)

In [51]:
reg.fit(X_train,y_train)

GridSearchCV(estimator=DecisionTreeRegressor(),
             param_grid={'criterion': ['mse', 'mae'],
                         'max_depth': [2, 4, 8, 10, None],
                         'max_features': [0.25, 0.5, 1.0],
                         'min_samples_split': [0.25, 0.5, 1.0]})

In [54]:
reg.best_score_

0.6268666551124115

In [55]:
reg.best_params_

{'criterion': 'mse',
 'max_depth': None,
 'max_features': 0.5,
 'min_samples_split': 0.25}

# Feature Importance

In [56]:
for importance, name in sorted(zip(rt.feature_importances_, X_train.columns),reverse=True):
  print (name, importance)

RM 0.6292222501550568
LSTAT 0.19426427075925579
CRIM 0.08531883808408483
DIS 0.07187288650019172
AGE 0.0070254591654109735
PTRATIO 0.004391097507128227
NOX 0.003561040385702584
INDUS 0.002627468726682254
TAX 0.00117395935157392
B 0.0005427293649131125
ZN 0.0
RAD 0.0
CHAS 0.0